*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    scroll-behavior: smooth; 
}
header {
    background: #590da0;
    color: rgb(176, 41, 218);
    text-align: center;
    padding: 2rem 0;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(186, 21, 241, 0.1);
}

header h1{
    padding: 30px;

}

header img {
    border-radius: 50%;
    
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    transition: opacity 0.3s ease;
}

 header img:hover{
    transform: scale(1.1);
    transition: 0.3s;
 }

.nav {
    color : #d48beb;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: block;
}



section {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 4rem 1rem; /* Más espacio para facilitar la navegación */
    min-height: 60vh; /* Asegura que cada sección ocupe al menos el alto de la pantalla */
    display: flex;
    flex-direction: column;
    background-color: #590da0;
    color: aliceblue;
}

section img{
    padding: 20px;
    background-color:  #663aad;
    width: 300px;
    margin-bottom: 0px;
    border-radius: 5px;

}



 #imagen-centrada:hover{
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow:0 0 10px #c149e6;

}







#projects{
    background-color: #590da0;
    display: block;
    display: flex;
    flex-direction: column;
    font-size: large;
}

#projects .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card1{
    margin:0;
    color:rgb(241, 85, 241);
    margin-bottom: 50px;
}

.card1 img{
   padding: 20px;
   border-radius: 30px;
}

.card2{
    margin:0;
    color:rgb(241, 85, 241);
    margin-bottom: 50px;
}

.card2 img{
    padding: 20px;
    border-radius: 30px;
}

.card3 {
    margin:0;
    color:rgb(241, 85, 241);
    margin-bottom: 50px;
}
.card3 img{
    padding: 20px;
    border-radius: 30px;
}

.container{
    max-width: 100%;
    padding: 0;

}


footer {
    background: #590da0;
    color: rgb(220, 20, 247);
    text-align: center;
    padding: 1rem 0;
}